

.header-container {
    background: #FFFCE5;
    height: 700px;
}

.header-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
    /* grid-template-rows: 50px 150px; */
    gap: 10px;
}

.header-logo {
    background: red;
    grid-column: 1 / -1;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 50px;
}

.header-item-1 {
    
}

.header-item-1 h2 {
    color: #004DC9;
    font-size: 40px;
    font-family: Poppins;
    font-weight: 600;
}

.header-item-1 p {
    margin-top: 20px;
    color: #7D7D7D;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.header-item-1 .yellow-button {
    background: #FFD500;
    color: #000;
    font-family: Poppin;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-decoration: none;
}

.header-item-2 {
    background: green;
}

.second-section-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
    gap: 10px;
}

.second-section-item-1 {
    background: red;
    grid-column: 1 / -1;
}

.second-section-item-2 {
    background: blue;
}

.second-section-item-3 {
    background: yellow;
}

.third-section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
    gap: 50px;

}

.third-section-item-1 {
    background: red;
}

.third-section-item-2 {
    background: yellow;
}

.third-section-item-3 {
    background: blue;
}

.fourth-section-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 80%;
    margin: 0 auto;
}

.fourth-section-item-1 {
    background: red;
    grid-column: 1 / -1;
}

.fourth-section-item-2 {
    background: green;
    
}

.fourth-section-item-3 {
    background: blue;
}

.fourth-section-item-4 {
    background: yellow;
}

.fifth-section-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 80%;
    margin: 0 auto;
}

.fifth-section-item-1 {
    background: red;
}

.fifth-section-item-2 {
    background: blue;
}